@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arvo, sans-serif;
    font-weight: 300;
    color: #aaaca4;

    background-color: #2F4638;
}

/* headings and logo */

h1, h2 {
    font-family: Lora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #aaaca4;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 50px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #aaaca4;
}

.active {
    border-bottom: 1px solid #aaaca4;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: rgb(28, 31, 29);
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-james-wheeler-1534057.jpg') no-repeat center center;	
    /* animates zoom effect on loading page */	
    animation-name: hero-zoom;	
    animation-duration: 5s;	
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
from {
    transform: scale(1);	
}	
to{	
    transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(126, 129, 106, 0.7);
    border-radius: 8px;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#angkor-history {
    height: 600px;
}

#angkor-image-1 {
    background: 
    padding-top: 30px;
    width: 33%;
    float: left; 
}

#angkor-text-right {
    padding-top: 30px;
    width: 33%;
    float: right; 
}

